@media (min-width: 450px) {
  /* intro-container  */
  .intro-container {
    flex-direction: row;
    max-width: 1455px;
  }
  .intro-container,
  .intro-container img {
    min-height: 340px;
  }
  .intro-container .intro-text {
    align-items: center;
  }
  .intro-container .shortened-p {
    max-width: 550px;
    -webkit-line-clamp: 5;
  }

  /* latest post  */
  .latest-posts {
    flex-direction: row-reverse;
  }

  .cards-container {
    flex-direction: row;
    gap: 50px;
  }
  .latest-posts .btn {
    display: none;
  }
  .circle-btn {
    display: block;
  }
  .left_circle-btn {
    order: 1;
  }
  /* blog-post page   */
  .post-container .text-container_text {
    min-height: fit-content;
    justify-content: center;
  }

  .flex-post {
    gap: 35px;
  }
  /* detailed post  */
  .content-sub_container img {
    max-height: 200px;
  }

  /* contact page  */
  .contact-info {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

@media (min-width: 870px) {
  p,
  ul,
  form label,
  .form-error {
    font-size: 1em;
  }

  h1 {
    font-size: 1.8em;
  }
  h2,
  h3,
  h4,
  a,
  .btn {
    font-size: 1.3em;
  }

  .cta {
    max-width: 107px;
  }
  .btn {
    padding: 10px 30px;
    min-width: 171px;
  }
  .logo {
    font-size: 3em;
  }

  /* header  */
  .hamburger {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: auto;
    max-width: 1400px;
    height: 70px;
  }
  nav,
  nav a {
    border: 0;
  }
  nav {
    position: static;
    transform: translateX(0%);
    display: block;
    max-width: 600px;
  }
  nav a {
    display: inline-block;
    padding: 0px 20px;
  }
  .current {
    padding: 4px 10px;
  }

  /* footer  */
  footer {
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 50px;
  }

  .footer-contact-info {
    flex-direction: column;
    gap: 0;
  }
  footer .border {
    width: 2px;
    height: 70px;
  }

  /* intro-container  */

  .intro-container img {
    max-height: 520px;
  }
  .intro-container .cta {
    font-size: 1.3em;
  }

  /* latest post  */
  .latest-posts h2 {
    font-size: 1.5em;
    text-align: left;
  }
  .cards-container {
    max-width: 710px;
  }
  .card {
    min-width: 330px;
    height: 460px;
  }
  .card img {
    height: 250px;
    width: 280px;
  }

  /* blog-posts page  */
  .blog-posts_container {
    padding: 0 60px;
    gap: 50px;
  }
  .post-container img {
    height: 200px;
  }
  .post-container .shortened-p {
    max-width: 100%;
  }
  .flex-post {
    gap: 60px;
    min-height: 310px;
  }

  .flex-post img {
    height: 300px;
  }

  /* details page and about page  */

  .detailed-post {
    max-width: 900px;
  }

  .content-sub_container {
    flex-direction: row;
    gap: 50px;
  }
  .content-sub_container img {
    max-height: 250px;
  }

  .comments {
    max-width: 700px;
  }
  .btn-container {
    justify-content: space-between;
  }
  /* modal  */
  .modal-img {
    max-width: 650px;
    min-height: 600px;
  }

  .msg {
    min-width: 500px;
    padding: 40px 20px;
  }
}

@media (min-width: 1250px) {
  /* latest posts  */

  .cards-container {
    max-width: 1090px;
  }

  /* blog posts page  */
  .blog-posts_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .blog-posts_container .btn {
    grid-column: span 4;
  }
}
