@media (min-width: 420px) {
  /* intro-container  */
  .intro-container {
    flex-direction: row;
    max-width: 1575px;
  }
  .intro-container img {
    min-height: 400px;
  }
  .intro-container .intro-text {
    align-items: center;
  }
  .intro-container .shortened-p {
    max-width: 400px;
    -webkit-line-clamp: 5;
  }
  /* latest post  */
  .latest-posts {
    flex-direction: row-reverse;
  }
  .cards-container {
    flex-direction: row;
    gap: 50px;
  }
  .latest-posts .btn {
    display: none;
  }
  .circle-btn {
    display: block;
  }
  .left_circle-btn {
    order: 1;
  }
  /* contact page  */
  .contact-info {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

@media (min-width: 870px) {
  h1 {
    font-size: 1.5em;
  }
  h2,
  h3,
  h4 {
    font-size: 1.3em;
  }
  p,
  ul,
  form label,
  .form-error {
    font-size: 1em;
  }
  a {
    font-size: 1.3em;
  }
  .cta {
    max-width: 123px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 1.3em;
    min-width: 171px;
  }
  .logo {
    font-size: 3em;
  }
  .btn-form {
    max-width: 171px;
  }
  /* header  */
  .hamburger {
    display: none;
  }

  .header-container {
    max-width: 1600px;
    padding: 10px 25px 0px 10px;
    height: 90px;
    text-align: left;
    margin: auto;
  }
  nav {
    position: static;
    display: block;
    transform: translateX(0);
    border: 0;
    text-align: center;
    min-width: 600px;
  }
  nav a {
    display: inline-block;
    border-bottom: 0;
    padding: 0px 20px;
    text-align: center;
  }

  /* footer  */
  footer {
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 30px;
  }
  .footer-contact_container {
    text-align: left;
  }
  .footer-contact-info {
    flex-direction: column;
    gap: 0;
  }
  footer .border {
    width: 2px;
    height: 70px;
  }
  .latest-posts h2 {
    font-size: 1.4em;
  }
  .cards-container {
    max-width: 710px;
  }
  .card {
    min-width: 330px;
    height: 480px;
  }
  .card img {
    height: 250px;
    width: 280px;
  }
  .card .intro-text {
    top: -25px;
  }

  /* blog-posts page  */

  .blog-posts_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
  .blog-posts_container .btn {
    grid-column: span 4;
  }
  .post-container .shortened-p {
    max-width: 100%;
  }
  .post-container .img-container {
    max-height: 200px;
  }
  .post-container img {
    height: 200px;
  }
  .flex-post {
    gap: 50px;
    max-height: 300px;
    max-width: none;
  }
  .flex-post > *,
  .flex-post img {
    height: 300px;
    margin: 0;
  }
  /* details page  */
  .detailed-post,
  .comments {
    max-width: 600px;
  }
  .detailed-post img {
    max-height: 300px;
  }
  .btn-container .btn {
    width: 171px;
  }
  /* modal  */
  .modal-img {
    max-width: 650px;
    min-height: 600px;
  }

  .msg {
    min-width: 500px;
    padding: 40px 20px;
  }
}

@media (min-width: 1250px) {
  .cards-container {
    max-width: 1090px;
  }
}
