@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/links.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
  padding: 0px 10px;
}
body,
nav {
  background-color: var(--secondary-color);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* header */

.header-container {
  text-align: center;
  padding-top: 10px;
  height: 70px;
}

nav {
  position: fixed;
  transform: translateX(-100%);
  width: 100%;
  margin-top: 6px;
  left: 0px;
  border-bottom: 2px solid var(--quaternary-color);
}
nav a {
  display: block;
  padding: 40px 20px;
  border-top: 2px solid var(--quaternary-color);
}
.show-menu {
  transition: 0.5s;
  transform: translateX(0%);
}

.current {
  text-decoration: underline;
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}

.hamburger {
  position: absolute;
  left: 5px;
  top: 4px;
}

/* footer  */
footer {
  display: grid;
  justify-content: center;
  background: var(--quaternary-color);
  border-top: 2px solid var(--quaternary-color);
  padding: 30px 0px;
}

footer * {
  margin: 3px 0px;
}
footer .logo,
footer * {
  color: var(--secondary-color);
}

.footer-logo_container {
  text-align: center;
}

.footer-contact-info {
  display: flex;
  gap: 20px;
}

footer .border {
  margin: 10px 0px;
  background-color: var(--secondary-color);
}

/* general classes */

.shortened-p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 300px;
  max-height: 90%;
}
.full-width_main {
  padding: 0px;
}
.border {
  content: "";
  max-width: 100%;
  height: 2px;
  background-color: var(--quaternary-color);
}
.top-border {
  height: 3px;
}

.intro-text {
  display: flex;
}

.text-container_text {
  text-align: left;
}

/* intro-container  */
.intro-container {
  font-size: 1.2em;
  background: var(--quaternary-color);
  display: flex;
  flex-direction: column;
  margin: 0px auto 50px auto;
}
.intro-container > * {
  flex: 1;
}
.intro-container img {
  padding: 8px;
  max-height: 263px;
}
.intro-container .intro-text {
  min-height: 250px;
  justify-content: center;
  padding: 0px 10px;
}

.intro-container .text-container_text > * {
  margin: 20px 0px;
}
.intro-container .intro-text * {
  color: var(--secondary-color);
}

.intro-container .cta {
  font-size: 1.1em;
}
.intro-container .cta:hover {
  color: var(--quaternary-color);
}

/* latest post  */

.latest-posts,
.cards-container {
  display: flex;
  flex-direction: column;
}
.latest-posts {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.latest-posts .container {
  order: 1;
  padding: 0 30px;
}
.latest-posts h2 {
  font-size: 1.2em;
  text-align: center;
}
.latest-posts .btn {
  order: 3;
  margin-top: 30px;
}

.cards-container {
  max-width: 250px;
  max-height: 850px;
  overflow: hidden;
  order: 1;
  scroll-behavior: smooth;
}

.card {
  min-height: 350px;
  min-width: 250px;
  margin: 50px 0px;
  padding: 0px 23px;
  background: var(--tertiary-color);
  border-radius: 5px;
}

.card img {
  width: 200px;
  height: 180px;
  margin: auto;
  border-radius: 5px;
  position: relative;
  top: -20px;
  box-shadow: 0px 4px 6px 2px rgba(186, 150, 150, 0.775);
}

.card .text-container_text > * {
  margin-bottom: 15px;
}

.circle-btn {
  display: none;
}

/* blog posts page  */

.blog-posts_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 50px auto;
  max-width: 1575px;
}
.blog-posts_container .btn {
  justify-self: center;
  max-width: 111px;
}
.flex-post,
.blog-posts_container .btn {
  grid-column: span 2;
}

.post-container,
.post-container .text-container_text,
.flex-post {
  display: flex;
}
.post-container {
  flex-direction: column-reverse;
  gap: 10px;
}
.post-container > * {
  flex: 1;
}

.post-container .text-container_text {
  flex-direction: column;
  min-height: 163px;
  justify-content: space-between;
}

.post-container .text-container_text > * {
  margin: 5px 0px;
}

.post-container img {
  height: 150px;
}

.post-container .cta:hover,
.flex-post {
  background: var(--tertiary-color);
}
.flex-post {
  flex-direction: row-reverse;
  height: 220px;
  gap: 15px;
  padding: 5px;
}

.flex-post .text-container_text {
  justify-content: center;
  padding: 0px 10px;
}
.flex-post img {
  height: 100%;
}
.flex-post .cta:hover {
  background: var(--secondary-color);
}

/* detailed post */
.heading-container {
  margin-bottom: 15px;
}
.detailed-post,
.comments {
  padding: 50px 15px;
  max-width: 500px;
}
.detailed-post,
.comments,
.btn-container {
  margin: auto;
}
.detailed-post h2 {
  margin: 5px 0px;
  max-width: 410px;
}

.detailed-post h3,
.detailed-post h4 {
  margin-bottom: 8px;
  text-decoration: underline;
}

.content-sub_container,
.btn-container {
  display: flex;
}
.content-container {
  /* background: #ebcebbdb;
  border: 3px solid #c8a68d; */
  padding: 30px;
  height: 100%;
}

.content-sub_container {
  flex-direction: column-reverse;
  gap: 20px;
  margin-bottom: 25px;
}
.content-sub_container > * {
  flex: 1;
}

.content-sub_container img {
  border-radius: 5px;
  box-shadow: 0px 3px 2px 1px rgba(34, 34, 34, 0.775);
  max-height: 150px;
  align-self: center;
  cursor: pointer;
}

.btn-container {
  justify-content: space-around;
  max-width: 700px;
}
.btn-container .btn {
  text-align: center;
}

/* comment section  */

.comment div {
  margin-bottom: 15px;
}
.comments .border {
  margin: 30px 0px;
}
.comments h2 {
  margin-bottom: 10px;
}
.comments .btn {
  margin-top: 30px;
}
.comment {
  background: #fff;
  border: 1px solid var(--quaternary-color);
  padding: 10px;
  margin: 30px 0px;
}
.comment p {
  width: 100%;
  word-break: break-all;
}

/* contact page  */

.contact-container .border {
  margin: 20px auto;
}
.contact-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 0 15px;
}
.contact-container h1 {
  margin-bottom: 20px;
}
.contact-info_container * {
  margin: 7px 0px 0px 0px;
}

/* form  */
.form-container h3 {
  margin-bottom: 14px;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 6px 0px;
}
form input,
textarea {
  padding: 6px;
}
form input {
  max-width: 500px;
}
textarea {
  min-height: 140px;
}
.btn-form {
  margin-top: 10px;
  max-width: 111px;
}
.form-error {
  color: rgb(182, 6, 6);
  display: none;
  margin-top: 3px;
}
.disabled-btn,
.disabled-btn:hover {
  background-color: grey;
  color: var(--secondary-color);
  border: grey;
}

/* modal  */
.modal {
  width: 100%;
  height: 100%;
  top: 0;
  background: #000000d1;
}
.modal,
.modal-img {
  position: fixed;
}
.modal:hover {
  cursor: pointer;
}
.modal-img {
  width: 90%;
  height: 40%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

/* message  */
.msg {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  border: 2px solid var(--quaternary-color);
  min-width: 280px;
  padding: 20px 20px;
  text-align: center;
}

.msg > * {
  margin: 10px;
}

/* spinner  */
.spinner-container {
  width: 100%;
  height: 100%;
  top: 0;
  background: #79797926;
}
.spinner-container,
.spinner {
  position: relative;
}
.spinner {
  top: 30vh;
  margin: auto;
}
.spinner,
.spinner::after {
  display: block;
  height: 90px;
  width: 90px;
}
.spinner:after {
  content: " ";
  margin: 8px;
  border-radius: 50%;
  border: 10px solid;
  border-color: var(--quaternary-color) transparent var(--quaternary-color) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* error message  */

.error-msg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25vh;
  border: 2px solid darkred;
  background-color: #fff;
  padding: 60px 60px;
}
