a {
  text-decoration: underline;
  color: var(--primary-color);
}

nav a {
  font-size: 1.3em;
  text-decoration: none;
}

.cta,
.btn,
.circle-btn {
  transition: all ease-in 0.3s;
}
.cta {
  font-weight: bold;
  max-width: 96px;
}
.btn,
.hamburger,
.circle-btn {
  cursor: pointer;
}
.btn,
.circle-btn {
  background: var(--quinary-color);
  color: var(--secondary-color);
}
.cta:hover,
.btn:hover,
.circle-btn:hover {
  background-color: var(--secondary-color);
}
.btn:hover,
.circle-btn:hover {
  color: var(--quinary-color);
}
.cta:hover {
  border-radius: 3px;
}

.hamburger {
  font-size: 65px;
  color: var(--quaternary-color);
}
.logo {
  text-decoration: none;
}

.btn {
  font-size: 15px;
  padding: 7px 15px;
  min-width: 111px;
  border: 2px solid var(--quinary-color);
}

.circle-btn {
  font-size: 50px;
  border-radius: 50%;
}

.circle-btn:hover {
  color: var(--quinary-color);
}
