/* html {
  font-size: calc(12px + 0.390625vw);
} */

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}
h1 {
  font-size: 1.1em;
}
h2,
h3,
h4 {
  font-size: 0.9em;
  font-weight: 300;
}
p,
ul,
form label,
.form-error {
  font-family: var(--font-paragraph);
  font-size: 0.7em;
  color: var(--secondary-color);
}

nav a,
.cta {
  font-family: var(--font-nav), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: var(--primary-color);
}
.btn {
  font-family: var(--font-heading);
  font-size: 15px;
}
.logo {
  font-family: "Pompiere";
  font-size: 2.5rem;
  color: rgb(138, 129, 129);
  font-weight: lighter;
}
