:root {
  --font-heading: "Vollkorn";
  --font-paragraph: "Roboto";
  --font-logo: "Pompiere";
  --primary-color: #000;
  --secondary-color: #f7f7f7;
  --tertiary-color: #ebcebb;
  --quaternary-color: #402828;
  --quinary-color: #e9465c;
}
